<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat with One Piece</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
    <p>一坨: {{ one_piece_message }}</p>

    <label for="user_message">和一坨对话: </label>
    <br/>
    <input type="text" id="user_message" name="user_message" required size="50">
    <br/><br/>
    <button class="favorite styled" type="button" id="submit_user_message">问一坨</button>
</body>
</html>